*{
    padding: 0;
    margin: 0;

}

header{
    background-image: url(/assets/img/banner.jfif);
    height: 12.5vh;
}


main{
    display: flex;
    justify-content: center;
    background-color: rgb(26, 43, 37);
    height: 100vh;
    flex-wrap: wrap;
    gap: 20px;
}

#card{
    margin-top: 2rem;
    width: 25%;
    height: 15rem;
    display: flex;

    border-radius: 2rem;
    background-color: rgb(10, 10, 41);
}

#card > img{
    width: 230px;
    border-radius: 1.8rem 0 0 1.8rem;
}

#Character{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    color: rgb(23, 73, 167);
}


