@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(56, 3, 249);
    padding-top: 3rem;
    font-size: 3rem;
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    height: 12.5vh;
    text-shadow: 0 0 30px #0d0d0d;
    color: rgb(0, 0, 0);
}

#searchInput{
    position: absolute;
    right: 50rem;
    top: 9rem;
    height: 40px;
    width: 17rem;
    border-radius: 5px;
    border: none;
    
}


#container-check{
    display: flex;
    font-size: 20px;
    gap: 10px;
    margin-left: 40px;
}

main{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 20px;
}

body{
    background-color: rgb(64, 64, 64);
}

#card{
    margin-top: 2rem;
    width: 30%;
    height: 15rem;
    display: flex;
    border-radius: 2rem;
    background-color: rgb(46, 46, 46);
}

#card > img{
    width: 230px;
    border-radius: 1.8rem 0 0 1.8rem;
}

#Character{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    color: rgb(0, 0, 0);
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#pagination{
    display: flex;
    justify-content: center;
}

.btn-page{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0px 3px;
    border: none; 
    background-color: #593eb3; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.btn-page:hover {
    background-color: #3e22b9; 
}


.btn-page.active {
    background-color: #2f10bb; 
    font-weight: bold; 
}